<extend name="$_home_public_layout"/>

<block name="style">
    <style type="text/css">
        #main {
            padding: 0;
        }
    </style>
</block>

<block name="jumbotron"></block>

<block name="breadcrumb"></block>

<block name="main">
    <div class="jumbotron m-a-0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 hidden-xs">
                    <img class="img-responsive" src="__HOME_IMG__/index/login-left.png">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                            <?php
                                $allow_reg_type = C('user_config.allow_reg_type');
                            ?>
                            <ul class="nav-tabs nav">
                                <li data-tab="reset1" class="active"><a href="#reset1" data-toggle="tab">通过邮箱重置</a></li>
                                <?php if(in_array('mobile', $allow_reg_type)): ?>
                                    <li data-tab="reset2"><a href="#reset2" data-toggle="tab">通过手机重置</a></li>
                                <?php endif; ?>
                            </ul>
                            <div class="form-group"></div>
                            <div class="tab-content">
                                <div id="reset1" class='tab-pane active'>
                                    <form action="{:U('User/User/reset_password')}" method="post" class="form reset-form-email">
                                        <fieldset>
                                            <div class="blank"></div>
                                            <div class="form-group">
                                                <div class="control">
                                                    <input type="text" class="form-control input-lg" name="email" placeholder="请输入邮箱">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg" name="verify" placeholder="请输入验证码">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-lg btn-default send-mail-verify" data-title="密码重置">发送邮件验证码</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="control">
                                                    <input type="text" class="form-control input-lg" name="password" placeholder="请输入新密码">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name="reg_type" value="email">
                                                <button class="btn btn-primary-outline btn-lg btn-block ajax-post" type="submit" target-form="reset-form-email">重置密码</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div id="reset2" class='tab-pane'>
                                    <form action="{:U('User/User/reset_password')}" method="post" class="form reset-form-mobile">
                                        <fieldset>
                                            <div class="blank"></div>
                                            <div class="form-group">
                                                <div class="control">
                                                    <input type="text" class="form-control input-lg" name="mobile" placeholder="请输入手机号">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg" name="verify" placeholder="请输入验证码">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-lg send-mobile-verify" data-title="密码重置">发送短信验证码</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="control">
                                                    <input type="text" class="form-control input-lg" name="password" placeholder="请输入新密码">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name="reg_type" value="mobile">
                                                <button class="btn btn-primary-outline btn-lg btn-block ajax-post"  type="submit" target-form="reset-form-mobile">重置密码</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
